<server description="defaultServer">


    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <quickStartSecurity userName="admin" userPassword="admin" />

    <include location="${shared.resource.dir}/ease/db2/jdbc4.xml"/>

    <dataSource jndiName="jdbc/StationSecureDS"  jdbcDriverRef="ease.db2jcc4">
      <properties.db2.jcc serverName="b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
                          portNumber="32716"
                          databaseName="bludb"
                          sslConnection="true"
                          user="wbz81983"
                          password="12TIoxDIchQ1O9Qu"/>
    </dataSource>

    <webApplication name="GasNet_ATM_Module" location="${server.config.dir}/apps/GasStationModule.war" contextRoot="/GasNet_ATM_Module" />

    <logging maxFileSize="100" traceSpecification="svt*=FINE"/>
    
    <mpMetrics authentication="false"/>

</server>

